---
import { ViewTransitions } from 'astro:transitions'
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<ViewTransitions />
	<h1>TNH Paywall Integration</h1>
	<p>This codebase generates API endpoints for the TNH Payment/Registration Walls.</p>
</Layout>