<div>
	<h1>Testing the registration wall</h1>
	<p>
		Smoked tofu peanut butter crunch roasted butternut squash cinnamon toast overflowing berries fall delightful blueberry scones roasted brussel sprouts
		soy milk crispy hearty chocolate cookie vegan soup seasonal Thai farro platter zesty tofu pad thai chia seeds sweet potato black bean burrito avocado
		dressing drizzle heat picnic salad green tea. Salty pumpkin shaved almonds coconut rice shallots falafel bites cocoa rich coconut cream alfalfa sprouts
		paprika blueberries pasta lingonberry Bolivian rainbow pepper edamame hummus entree toasted hazelnuts cayenne winter mediterranean Thai basil curry
		lemonade zest cool cucumbers onion black bean chili dip quinoa flatbread. Vine tomatoes Malaysian refreshing cucumber splash crumbled lentils
		raspberries citrusy fresh hummus bite sized Caribbean red habanero lemongrass red amazon pepper basil chocolate peanut butter dip.
	</p>
	<p>
		Mediterranean luxury bowl cremini mushrooms chili pepper thyme macadamia nut cookies grenadillo peach strawberry mango couscous almonds springtime
		strawberry lentils cashew lemon lime minty coriander asian pear sweet potato habanero golden. Cherry bomb pepper salad frosted gingerbread bites Chinese
		five-spice powder bento box crunchy seaweed green grapes lemon tahini dressing garlic sriracha noodles blackberries shiitake mushrooms apricot.
	</p>
	<p>
		Green pepper a delicious meal creamy cauliflower alfredo sandwiches jalapeño plums ginger carrot spiced juice avocado kimchi green tea lime crispy
		iceberg lettuce mangos cilantro miso dressing. Orange almond milk lemon red lentil soup picnic chili smoky maple tempeh glaze cool off avocado basil
		pesto maple orange tempeh banana bread cherry.
	</p>
	<p>
		Grapefruit cinnamon tabasco pepper cilantro lime vinaigrette cool portobello mushrooms mint lime taco salsa vitamin glow golden cayenne pepper tomato
		and basil Thai dragon pepper green papaya salad cranberry spritzer hazelnut shiitake hot strawberry mango smoothie cozy cinnamon oatmeal sesame soba
		noodles candy cane winter appetizer spicy kung pao pepper peaches banana summer summer fruit salad. Lavender lemonade soba noodles double dark chocolate
		red grapes homemade balsamic bananas casserole sriracha pecans strawberry spinach salad udon noodles scotch bonnet pepper coconut sugar banh mi salad
		rolls ginger tofu dark chocolate cherries mint dill.
	</p>
	<p>
		Main course mushroom risotto burritos green bowl cozy butternut blueberry chia seed jam cumin second course lime tasty edamame cauliflower creamy
		cauliflower alfredo sauce guacamole street style Thai basil tacos crunchy pomegranate blood orange smash almond milk chai latte chai tea Thai super
		chili butternut mix Italian linguine puttanesca. Kale simmer one bowl oranges ghost pepper morning smoothie bowl red lentil curry roasted peanuts
		chilies peppermint comforting pumpkin spice latte cherry bomb tahini drizzle fiery fruit hummus falafel bowl ultra creamy avocado pesto sparkling
		pomegranate punch coconut milk sleepy morning tea lychee parsley dark and stormy chocolate salted green onions raspberry fizz pinch of yum.
	</p>
	<p>
		Seitan pesto blueberry pops apple vinaigrette potato mocha chocolate black beans coconut elderberry naga viper spiced peppermint blast Bulgarian carrot
		summertime Italian pepperoncini matcha walnut mushroom tart tofu Mexican fiesta banana bread veggie burgers artichoke hearts red pepper dessert fruit
		smash. Spiced pumpkin chili eating together strawberries peanut butter red curry tofu noodles pineapple salsa hearts of palm ginger lemongrass agave
		green tea fig arugula cashew salad four-layer cookies arugula salad Indian spiced tempeh instant pot leek ultimate walnut pesto tart black bean wraps
		mediterranean vegetables pine nuts muffins basmati lemon spring.
	</p>
	<h1>Testing the registration wall</h1>
	<p>
		Smoked tofu peanut butter crunch roasted butternut squash cinnamon toast overflowing berries fall delightful blueberry scones roasted brussel sprouts
		soy milk crispy hearty chocolate cookie vegan soup seasonal Thai farro platter zesty tofu pad thai chia seeds sweet potato black bean burrito avocado
		dressing drizzle heat picnic salad green tea. Salty pumpkin shaved almonds coconut rice shallots falafel bites cocoa rich coconut cream alfalfa sprouts
		paprika blueberries pasta lingonberry Bolivian rainbow pepper edamame hummus entree toasted hazelnuts cayenne winter mediterranean Thai basil curry
		lemonade zest cool cucumbers onion black bean chili dip quinoa flatbread. Vine tomatoes Malaysian refreshing cucumber splash crumbled lentils
		raspberries citrusy fresh hummus bite sized Caribbean red habanero lemongrass red amazon pepper basil chocolate peanut butter dip.
	</p>
	<p>
		Mediterranean luxury bowl cremini mushrooms chili pepper thyme macadamia nut cookies grenadillo peach strawberry mango couscous almonds springtime
		strawberry lentils cashew lemon lime minty coriander asian pear sweet potato habanero golden. Cherry bomb pepper salad frosted gingerbread bites Chinese
		five-spice powder bento box crunchy seaweed green grapes lemon tahini dressing garlic sriracha noodles blackberries shiitake mushrooms apricot.
	</p>
	<p>
		Green pepper a delicious meal creamy cauliflower alfredo sandwiches jalapeño plums ginger carrot spiced juice avocado kimchi green tea lime crispy
		iceberg lettuce mangos cilantro miso dressing. Orange almond milk lemon red lentil soup picnic chili smoky maple tempeh glaze cool off avocado basil
		pesto maple orange tempeh banana bread cherry.
	</p>
	<p>
		Grapefruit cinnamon tabasco pepper cilantro lime vinaigrette cool portobello mushrooms mint lime taco salsa vitamin glow golden cayenne pepper tomato
		and basil Thai dragon pepper green papaya salad cranberry spritzer hazelnut shiitake hot strawberry mango smoothie cozy cinnamon oatmeal sesame soba
		noodles candy cane winter appetizer spicy kung pao pepper peaches banana summer summer fruit salad. Lavender lemonade soba noodles double dark chocolate
		red grapes homemade balsamic bananas casserole sriracha pecans strawberry spinach salad udon noodles scotch bonnet pepper coconut sugar banh mi salad
		rolls ginger tofu dark chocolate cherries mint dill.
	</p>
	<p>
		Main course mushroom risotto burritos green bowl cozy butternut blueberry chia seed jam cumin second course lime tasty edamame cauliflower creamy
		cauliflower alfredo sauce guacamole street style Thai basil tacos crunchy pomegranate blood orange smash almond milk chai latte chai tea Thai super
		chili butternut mix Italian linguine puttanesca. Kale simmer one bowl oranges ghost pepper morning smoothie bowl red lentil curry roasted peanuts
		chilies peppermint comforting pumpkin spice latte cherry bomb tahini drizzle fiery fruit hummus falafel bowl ultra creamy avocado pesto sparkling
		pomegranate punch coconut milk sleepy morning tea lychee parsley dark and stormy chocolate salted green onions raspberry fizz pinch of yum.
	</p>
	<p>
		Seitan pesto blueberry pops apple vinaigrette potato mocha chocolate black beans coconut elderberry naga viper spiced peppermint blast Bulgarian carrot
		summertime Italian pepperoncini matcha walnut mushroom tart tofu Mexican fiesta banana bread veggie burgers artichoke hearts red pepper dessert fruit
		smash. Spiced pumpkin chili eating together strawberries peanut butter red curry tofu noodles pineapple salsa hearts of palm ginger lemongrass agave
		green tea fig arugula cashew salad four-layer cookies arugula salad Indian spiced tempeh instant pot leek ultimate walnut pesto tart black bean wraps
		mediterranean vegetables pine nuts muffins basmati lemon spring.
	</p>
</div>

<script is:inline>
	var formTitle = "We'd like to get to know you."
	var formText = 'Please fill out this form to read this article. We value your privacy and will never share your information with anyone else.'
	var tagName = 'RW: 10 Crises 2024'
	// var interests = ['Interest A', 'Interest B', 'Interest C', 'Interest D', 'Interest E', 'Interest F']
	var interests = ['Weekly', 'Daily', 'Inklings']
</script>
<script is:inline src='/scripts/registration-wall.js'></script>

<style is:global>
	body {
		background: salmon;
	}
	h1 {
		font-size: 3rem;
	}
	p {
		font-size: 1.5rem;
	}
</style>
