<!-- ---
import '/public/styles/annotations.css'
--- -->

<div>
	<h1>Testing the registration wall</h1>
</div>

<script is:inline>
	var formTitle = "We'd like to get to know you."
	var formText = 'Please fill out this form to read this article. We value your privacy and will never share your information with anyone else.'
	var tagName = 'RW: 10 Crises 2024'
	var interests = ['Interest A', 'Interest B', 'Interest C', 'Interest D', 'Interest E', 'Interest F']
</script>
<script is:inline src='/public/scripts/registration-wall.js'></script>
